<div class="flexcol sas-menu-content">
    <div class="flexrow">
        <div class="flexcol">
            <div class="flexrow">
                <p>{{localize "SAS-TRADING.select-city"}}</p>
                <select id="buy-sell-cities" name="buySell.selectedCity">
                    {{#each cities as | cities |}}
                        <option value="{{this}}" {{#if (eq ../selectedCity this)}}selected{{/if}}>
                            {{this}}
                        </option>
                    {{/each}}
                </select>
            </div>
            <div class="flexrow">
                <p>{{localize "SAS-TRADING.select-good"}}</p>
                <select id="buy-sell-goods" name="buySell.selectedGood">
                    {{#each goodNames as | goodName |}}
                        <option value="{{this}}" {{#if (eq ../selectedGoodName this)}}selected{{/if}}>
                            {{this}}
                        </option>
                    {{/each}}
                </select>
            </div>
            <div class="flexrow">
                <p>{{localize "SAS-TRADING.trade-menu.diplomacy-roll"}}</p>
                <input type="number" name="buySell.diplomacyRoll" data-dtype="Number" value="{{diplomacyRoll}}"/>
            </div>
            <div class="flexrow">
                <input type="radio" id="buy-sell-buy" name="buySell.choice" value="buy" {{#if selectedBuy}}checked{{/if}} />
                <label for="buy-sell-buy">{{localize "SAS-TRADING.trade-menu.buy-sell.buy"}}</label>
                <input type="radio" id="buy-sell-sell" name="buySell.choice" value="sell" {{#unless selectedBuy}}checked{{/unless}} />
                <label for="buy-sell-sell">{{localize "SAS-TRADING.trade-menu.buy-sell.sell"}}</label>
            </div>
        </div>
        <div class="flexcol">
            <table class="sas-menu-mini-table">
                {{#if selectedGood}}
                    <tr>
                        <th class="sas-menu-mini-table-left-column sas-menu-mini-table-header"></th>
                        <th class="sas-menu-mini-table-header">{{selectedGood.name}}</th>
                    </tr>
                    <tr>
                        <td class="sas-menu-mini-table-left-column">{{localize "SAS-TRADING.value"}}</td>
                        <td class="sas-menu-table-data">{{selectedGood.value}}</td>
                    </tr>
                    <tr>
                        <td class="sas-menu-mini-table-left-column">{{localize "SAS-TRADING.demand"}}</td>
                        <td class="sas-menu-table-data">{{selectedGood.demand}}</td>
                    </tr>
                    <tr>
                        <td class="sas-menu-mini-table-left-column">{{localize "SAS-TRADING.scarcity"}}</td>
                        <td class="sas-menu-table-data">{{selectedGood.scarcity}}</td>
                    </tr>
                {{else}}
                    <tr>
                        <th>{{localize "SAS-TRADING.good"}}</th>
                    </tr>
                    <tr>
                        <td class="sas-menu-table-data">{{localize "SAS-TRADING.trade-menu.no-good-selected"}}</td>
                    </tr>
                {{/if}}
            </table>
        </div>
    </div>
    {{#if buySellResult}}
    <div class="sas-menu-results">
        <h2>
            {{#if buySellResult.buy}}
                {{localize "SAS-TRADING.trade-menu.buy-sell.results.title-buy"}}
            {{else}}
                {{localize "SAS-TRADING.trade-menu.buy-sell.results.title-sell"}}
            {{/if}}
        </h2>
        <div class="flexrow">
            <div class="flex3"></div>
            <button type="button" title="{{localize "SAS-TRADING.trade-menu.close-results"}}" data-action="buySell-close" class="flex0 sas-config-icon-button">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="flexrow">
            <div class="flexcol sas-menu-results-buy-sell">
                {{! result column }}
                <p>{{localize "SAS-TRADING.trade-menu.buy-sell.results.content"}}</p>
                <p class="sas-menu-results-buy-sell-price">{{buySellResult.price}}</p>
            </div>
            <div class="flexcol">
                {{! numbers column }}
                <div class="flexrow">
                    <div class="flexcol">
                        {{! labels column}}
                        <p>{{localize "SAS-TRADING.good"}}:</p>
                        <p>{{localize "SAS-TRADING.trade-menu.buy-sell.results.formula"}}</p>
                    </div>
                    <div class="flexcol flex2">
                        {{! values column}}
                        <p>{{buySellResult.good}}</p>
                        <div class="flexrow">
                            <p title="{{localize "SAS-TRADING.trade-menu.buy-sell.results.base-value-title"}}">{{buySellResult.value}}</p>
                            <p>+</p>
                            <p>&lpar;</p>
                            <p title="{{localize "SAS-TRADING.trade-menu.buy-sell.results.base-value-title"}}">{{buySellResult.value}}</p>
                            <p>&times;</p>
                            <p>&lpar;</p>
                            <p title="{{localize "SAS-TRADING.trade-menu.buy-sell.results.demand-mod-title"}}">{{buySellResult.demandMod}}</p>
                            {{#if buySellResult.scarcityPos}}
                                <p>+</p>
                            {{else}}
                                <p>-</p>
                            {{/if}}
                            <p title="{{localize "SAS-TRADING.trade-menu.buy-sell.results.scarcity-mod-title"}}">{{buySellResult.scarcityMod}}</p>
                            <p>+</p>
                            <p title="{{localize "SAS-TRADING.trade-menu.buy-sell.results.diplo-mod-title"}}">{{buySellResult.diploMod}}</p>
                            <p>&rpar;</p>
                            <p>&rpar;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <button type="button" class="sas-menu-button" data-action="buySell-getPrice">
        <i class="fa-solid fa-coins"></i>{{localize "SAS-TRADING.trade-menu.buy-sell.get-price"}}
    </button>
</div>
