<div class="flexcol">
    <h3>{{selectedCity}} | {{gatherInfoResult.good}}</h3>
    <div class="flexrow">
        <p>{{localize "SAS-TRADING.demand"}}:</p>
        <p class="flex2">{{capitalize gatherInfoResult.demand}}</p>
    </div>
    <div class="flexrow">
        <p>{{localize "SAS-TRADING.scarcity"}}:</p>
        <p class="flex2">{{capitalize gatherInfoResult.scarcity}}</p>
    </div>
</div>