<div class="flexcol sas-chat-result">
    <h3>{{localize "SAS-TRADING.trade-menu.gather-info.results.title"}}</h3>
    <h4>{{selectedCity}} | {{gatherInfoResult.good}}</h4>
    <div class="flexrow">
        <p>{{localize "SAS-TRADING.demand"}}:</p>
        <p class="flex2">{{capitalize gatherInfoResult.demand}}</p>
    </div>
    <div class="flexrow">
        <p>{{localize "SAS-TRADING.scarcity"}}:</p>
        <p class="flex2">{{capitalize gatherInfoResult.scarcity}}</p>
    </div>
</div>
